<% content_for :title, "Explore" %>

<%= render partial: "layouts/navbar" %>

<%= render partial: "layouts/flash_messages" %>

<h1>Explore</h1>

<div id="recipes">
  <%= render @recipes %>
</div>

<%= link_to "New recipe", new_recipe_path %>
