// This file is designed for custom font declarations

@font-face {
    font-family: "NunitoSans";
    font-style: black;
    font-weight: 800;
    font-display: block;
    src: font-url("NunitoSans_10pt-Black.ttf");
}
